<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebApi-20131011182652;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebApi-20131011182652.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="EvercamClientName" value="AsTimeGoesBy"/>
    <add key="EvercamClientID" value="c4203c3e"/>
    <add key="EvercamClientSecret" value="55e2df6518ec146e0d968d640064017d"/>
    <add key="EvercamClientUri" value="http://astimegoes.by/"/>
    
    <add key="ConnectionString" value="Data Source=144.76.5.85; User Id=cambatv; Password=shaban-28july;Initial Catalog=TimelapseDB;" />
    <!--<add key="ConnectionString" value="Data Source=144.76.84.113; User Id=sa; Password=shaban-28july;Initial Catalog=TimelapseDB;"/>-->
    <add key="BucketUrl" value="e:\wwwroot\" />
    <add key="BucketName" value="timelapses" />
    <add key="TimelapserExePath" value="e:\Development\Timelapse\trunk\Timelapser\bin\Debug\Timelapser.exe" />
    <add key="TimelapserProcessName" value="Timelapser" />
    <add key="FfmpegExePath" value="C:/ffmpeg/ffmpeg.exe" />
    <add key="FfmpegCopyPath" value="C:/ffmpeg/" />
    <add key="FtpUser" value="Administrator" />
    <add key="FtpPassword" value="Turcap@786" />
    <add key="FtpServer" value="ftp://144.76.5.88/" />
    <add key="TempTimelapse" value="timelapse.jpg" />
    <add key="TempLogos" value="d:\logos\" />
    <add key="WatermarkPrefix" value="C:/Timelapse/Website/" />
    <add key="WatermarkMargin" value="5" />
    <add key="SiteServer" value="http://astimegoes.by/" />
    <add key="TimelapseServer" value="http://astimegoes.by/" />
    <add key="CambaAPIUrl" value="http://webapi.camba.tv/" />
    <add key="TimelapseAPIUrl" value="http://astimegoes.by/" />

    <add key="EmailSource" value="TimelapseAPI" />
    <add key="DevelopersList" value="shakeel.anjum@camba.tv" />
    <add key="SmtpEmail" value="cambadebug@gmail.com" />
    <add key="SmtpPassword" value="Mhlabs-2013-Fsd" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpServerPort" value="587" />
    <add key="ExceptionFromEmail" value="cambadebug@gmail.com" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<machineKey validationKey="DA939F1137261FB6D71A325CABD742BB7D767B32EC6D25DDB37C62754D75073EBCDA923DDF14BD7543E09442E595C90A71F648D0D175803BA343D64836AE3C83" decryptionKey="A07FD467CC8A3B9456232DF8712E365EC94A4BF85544D418DC46BE1290F56951" validation="SHA1" decryption="AES" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />

    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />-->
  </system.web>
  <system.webServer>
    <httpProtocol>
        <customHeaders>
            <!-- Adding the following custom HttpHeader will help prevent CORS from stopping the Request-->
            <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
