<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=144.76.5.85; User Id=cambatv; Password=shaban-28july;Initial Catalog=TimelapseDB;"/>
    <add key="TimelapseExePath" value="E:\Development\Timelapse\Timelapser\bin\Debug\"/>
    <add key="ShutdownProcessPath" value="E:\Development\Timelapse\Shutdown\bin\Debug\Shutdown.exe"/>
    <add key="TimelapserProcessName" value="Timelapser"/>

    <add key="BucketUrl" value="e:\wwwroot\"/>
    <add key="BucketName" value="timelapses"/>
    <add key="TimelapserAppLogFile" value="app_logs.txt"/>
    <add key="TimelapserLogFile" value="logs.txt"/>
    <add key="FfprobeExePath" value="C:/ffmpeg/ffprobe.exe"/>
    <add key="FfmpegExePath" value="C:/ffmpeg/ffmpeg.exe"/>
    <add key="FfmpegCopyPath" value="C:/ffmpeg/"/>
    <add key="VideoWidth" value="640"/>
    <add key="VideoHeight" value="480"/>
    <add key="FtpUser" value="Administrator"/>
    <add key="FtpPassword" value="Turcap@786"/>
    <add key="FtpServer" value="ftp://144.76.84.113/"/>
    <add key="TempPath" value="e:\Temp"/>
    <add key="TempTimelapse" value="timelapse.jpg"/>
    <add key="SiteServer" value="http://www.camba.tv/"/>
    <add key="TimelapseServer" value="http://test.camba.tv/"/>
    <add key="CambaAPIUrl" value="http://webapi.camba.tv/"/>
    <add key="TimelapseAPIUrl" value="http://test.camba.tv:83/"/>
    <add key="TimeoutLimit" value="3"/>
    <add key="RetryInterval" value="10"/>
    <add key="RecheckInterval" value="1"/>

    <add key="EmailSource" value="TimelapseApp"/>
    <add key="DevelopersList" value="shakeel.anjum@camba.tv"/>
    <add key="SmtpPassword" value="1qaz1234"/>
    <add key="SmtpServerPort" value="587"/>
    <add key="ExceptionFromEmail" value="cambadebug@gmail.com"/>

    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPEmail" value="evercam.apiutils@gmail.com"/>
    <add key="SMTPPass" value="1qaz1234"/>
    <add key="SMTPPort" value="587"/>
    <add key="EmailSubject" value="Timelapse Application"/>

    <add key="EvercamClientName" value="Timelapse"/>
    <add key="EvercamClientID" value="c4203c3e"/>
    <add key="EvercamClientSecret" value="55e2df6518ec146e0d968d640064017d"/>
    <add key="EvercamClientUri" value="http://astimegoes.by/"/>
</appSettings>
</configuration>